In [7]:
import pandas as pd


data = {
    "Name": ["Asha", "Rahim", "Sara"],
    "Age": [20, 22, 21],
    "Score": [85, 90, 88]
}

df = pd.DataFrame(data)

print(df)

    Name  Age  Score
0   Asha   20     85
1  Rahim   22     90
2   Sara   21     88

In [13]:
df["passed"] = [True,True,True]

print(df)

    Name  Age  Score  passed
0   Asha   20     85    True
1  Rahim   22     90    True
2   Sara   21     88    True

In [14]:
print("Shape:", df.shape)
print("Columns:", df.columns)
print("Data types:\n", df.dtypes)

Shape: (3, 4)
Columns: Index(['Name', 'Age', 'Score', 'passed'], dtype='str')
Data types:
 Name        str
Age       int64
Score     int64
passed     bool
dtype: object

In [15]:
#change one name in the "Name" column

df.loc[2,"Name"] = "Maliat"
print(df)

     Name  Age  Score  passed
0    Asha   20     85    True
1   Rahim   22     90    True
2  Maliat   21     88    True

In [19]:
#print only the "Name and Score" colums

print(df[["Name", "Score"]])

     Name  Score
0    Asha     85
1   Rahim     90
2  Maliat     88

In [21]:
#add one more student row
df.loc[len(df)] = ["Nila", 23 , 92, True]
print(df)

     Name  Age  Score  passed
0    Asha   20     85    True
1   Rahim   22     90    True
2  Maliat   21     88    True
3    Nila   23     92    True