In [6]:
from pathlib import Path
print(Path.cwd())

c:\Users\tsnmi\GitHub_Work\pandas-daily-practice\Smartphone Usage, Productivity & Lifestyle Analytics

In [7]:
import pandas as pd

file_path = Path.cwd() /"archive" / "Smartphone_Usage_Productivity_Dataset_50000.csv"

df = pd.read_csv(file_path)  #Load a CSV file

In [ ]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 120)
df.head(10)  #Display the first 10 rows of the dataset.

,User_ID,Age,Gender,Occupation,Device_Type,Daily_Phone_Hours,Social_Media_Hours,Work_Productivity_Score,Sleep_Hours,Stress_Level,App_Usage_Count,Caffeine_Intake_Cups,Weekend_Screen_Time_Hours
0,U1,58,Male,Professional,Android,1.3,6.7,6,8.8,4,42,1,8.7
1,U2,25,Male,Professional,Android,1.2,1.5,5,6.4,1,51,3,5.1
2,U3,19,Male,Student,iOS,5.3,5.7,5,9.0,4,14,5,6.3
3,U4,35,Female,Business Owner,iOS,5.8,2.5,2,5.7,3,36,6,12.8
4,U5,33,Male,Freelancer,Android,7.9,1.3,4,5.7,3,37,5,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,U96,38,Male,Freelancer,iOS,3.0,5.0,7,7.5,6,16,6,7.6
96,U97,43,Male,Business Owner,iOS,8.7,2.7,4,6.5,1,25,4,4.7
97,U98,35,Other,Business Owner,iOS,5.5,6.4,3,5.5,6,29,5,8.6
98,U99,22,Male,Freelancer,Android,10.7,2.9,6,4.5,1,8,6,2.8
99,U100,31,Other,Student,iOS,9.4,2.8,3,7.6,9,35,3,13.7

In [31]:
df.shape  #Check the shape (rows, columns) of the dataset.

(50000, 13)

In [32]:
df.dtypes     #Show the data types of all columns.

User_ID                          str
Age                            int64
Gender                           str
Occupation                       str
Device_Type                      str
Daily_Phone_Hours            float64
Social_Media_Hours           float64
Work_Productivity_Score        int64
Sleep_Hours                  float64
Stress_Level                   int64
App_Usage_Count                int64
Caffeine_Intake_Cups           int64
Weekend_Screen_Time_Hours    float64
dtype: object

In [33]:
df.isnull().sum()     #Find how many missing values exist in each column.

User_ID                      0
Age                          0
Gender                       0
Occupation                   0
Device_Type                  0
Daily_Phone_Hours            0
Social_Media_Hours           0
Work_Productivity_Score      0
Sleep_Hours                  0
Stress_Level                 0
App_Usage_Count              0
Caffeine_Intake_Cups         0
Weekend_Screen_Time_Hours    0
dtype: int64

In [ ]:
#Remove all rows where any value is missing.

df.dropna(inplace=True)   #in my this data there is no missing value that's why the shape is same as before
df.shape

(50000, 13)

In [35]:
#Replace missing values in the Age column with the mean.

df['Age'] = df['Age'].fillna(df['Age'].mean())

In [36]:
#Replace missing values in the Occupation column with "Unknown"
df['Occupation'] = df['Occupation'].fillna("Unknown")

In [37]:
#Drop a column named Daily_Phone_Hours
df.drop('Daily_Phone_Hours',axis=1,inplace = True)

In [39]:
#Count total missing values in the entire dataset.

df.isnull().sum().sum()

np.int64(0)

In [45]:
df.duplicated().sum()

np.int64(0)

In [44]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Length: 50000, dtype: bool

In [48]:
df.drop_duplicates(inplace=True)

In [49]:
#Standardize a Gender column that contains values like:
# "Male", "male", "M", "m"
# "Female", "female", "F", "f"
# Make them consistent.

df['Gender'] = df['Gender'].str.strip().str.lower()
df['Gender'] =df['Gender'].replace({'male':'Male','m':'Male','female':'Female','f':'Female'})

In [51]:
#Convert all column names to lowercase.

df.columns = df.columns.str.lower()

df.dtypes

user_id                          str
age                            int64
gender                           str
occupation                       str
device_type                      str
social_media_hours           float64
work_productivity_score        int64
sleep_hours                  float64
stress_level                   int64
app_usage_count                int64
caffeine_intake_cups           int64
weekend_screen_time_hours    float64
dtype: object

In [ ]:
df['Daily_Phone_Hours'] = pd.to_numeric(df['Daily_Phone_Hours'],errors='coerce')   #string-->numeric

In [ ]:
from IPython.display import display, Markdown
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.2f}'.format)

display(Markdown("## ðŸ“Š First Look at Data"))
display(df.head())


display(Markdown("## ðŸ§¾ Dataset Information"))
df.info()

display(Markdown("## ðŸ“ˆ Statistical Summary"))
display(df.describe().T)

## ðŸ“Š First Look at Data

  User_ID  Age  Gender      Occupation Device_Type  Social_Media_Hours  Work_Productivity_Score  Sleep_Hours  Stress_Level  App_Usage_Count  Caffeine_Intake_Cups  Weekend_Screen_Time_Hours
0      U1   58    Male    Professional     Android                6.70                        6         8.80             4               42                     1                       8.70
1      U2   25    Male    Professional     Android                1.50                        5         6.40             1               51                     3                       5.10
2      U3   19    Male         Student         iOS                5.70                        5         9.00             4               14                     5                       6.30
3      U4   35  Female  Business Owner         iOS                2.50                        2         5.70             3               36                     6                      12.80
4      U5   33    Male      Freelancer     Android                1.30                        4         5.70             3               37                     5                       9.90

## ðŸ§¾ Dataset Information

<class 'pandas.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   User_ID                    50000 non-null  str
 1   Age                        50000 non-null  int64
 2   Gender                     50000 non-null  str
 3   Occupation                 50000 non-null  str
 4   Device_Type                50000 non-null  str
 5   Social_Media_Hours         50000 non-null  float64
 6   Work_Productivity_Score    50000 non-null  int64
 7   Sleep_Hours                50000 non-null  float64
 8   Stress_Level               50000 non-null  int64
 9   App_Usage_Count            50000 non-null  int64
 10  Caffeine_Intake_Cups       50000 non-null  int64
 11  Weekend_Screen_Time_Hours  50000 non-null  float64
dtypes: float64(3), int64(5), str(4)
memory usage: 4.6 MB

## ðŸ“ˆ Statistical Summary

                             count  mean   std   min   25%   50%   75%   max
Age                       50000.00 39.03 12.41 18.00 28.00 39.00 50.00 60.00
Social_Media_Hours        50000.00  4.27  2.16  0.50  2.40  4.30  6.10  8.00
Work_Productivity_Score   50000.00  5.50  2.87  1.00  3.00  5.50  8.00 10.00
Sleep_Hours               50000.00  6.50  1.45  4.00  5.20  6.50  7.80  9.00
Stress_Level              50000.00  5.50  2.87  1.00  3.00  6.00  8.00 10.00
App_Usage_Count           50000.00 32.44 16.12  5.00 18.00 32.00 46.00 60.00
Caffeine_Intake_Cups      50000.00  3.00  2.00  0.00  1.00  3.00  5.00  6.00
Weekend_Screen_Time_Hours 50000.00  8.01  3.46  2.00  5.00  8.00 11.00 14.00