In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

file_path = r"C:\Users\tsnmi\GitHub_Work\pandas-daily-practice\Smartphone Usage, Productivity & Lifestyle Analytics\archive\Smartphone_Usage_Productivity_Dataset_50000.csv"

df = pd.read_csv(file_path)
df.head()

  User_ID  Age  Gender      Occupation Device_Type  Daily_Phone_Hours  Social_Media_Hours  Work_Productivity_Score  Sleep_Hours  Stress_Level  App_Usage_Count  Caffeine_Intake_Cups  Weekend_Screen_Time_Hours
0      U1   58    Male    Professional     Android               1.30                6.70                        6         8.80             4               42                     1                       8.70
1      U2   25    Male    Professional     Android               1.20                1.50                        5         6.40             1               51                     3                       5.10
2      U3   19    Male         Student         iOS               5.30                5.70                        5         9.00             4               14                     5                       6.30
3      U4   35  Female  Business Owner         iOS               5.80                2.50                        2         5.70             3               36                     6                      12.80
4      U5   33    Male      Freelancer     Android               7.90                1.30                        4         5.70             3               37                     5                       9.90

In [ ]:
from IPython.display import display, Markdown
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.2f}'.format)

display(Markdown("## ðŸ“Š First Look at Data"))
display(df.head())

display(Markdown("## ðŸ§¾ Dataset Information"))
df.info()

display(Markdown("## ðŸ“ˆ Statistical Summary"))
display(df.describe().T)

## ðŸ“Š First Look at Data

  User_ID  Age  Gender      Occupation Device_Type  Daily_Phone_Hours  Social_Media_Hours  Work_Productivity_Score  Sleep_Hours  Stress_Level  App_Usage_Count  Caffeine_Intake_Cups  Weekend_Screen_Time_Hours
0      U1   58    Male    Professional     Android               1.30                6.70                        6         8.80             4               42                     1                       8.70
1      U2   25    Male    Professional     Android               1.20                1.50                        5         6.40             1               51                     3                       5.10
2      U3   19    Male         Student         iOS               5.30                5.70                        5         9.00             4               14                     5                       6.30
3      U4   35  Female  Business Owner         iOS               5.80                2.50                        2         5.70             3               36                     6                      12.80
4      U5   33    Male      Freelancer     Android               7.90                1.30                        4         5.70             3               37                     5                       9.90

## ðŸ§¾ Dataset Information

<class 'pandas.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   User_ID                    50000 non-null  str
 1   Age                        50000 non-null  int64
 2   Gender                     50000 non-null  str
 3   Occupation                 50000 non-null  str
 4   Device_Type                50000 non-null  str
 5   Daily_Phone_Hours          50000 non-null  float64
 6   Social_Media_Hours         50000 non-null  float64
 7   Work_Productivity_Score    50000 non-null  int64
 8   Sleep_Hours                50000 non-null  float64
 9   Stress_Level               50000 non-null  int64
 10  App_Usage_Count            50000 non-null  int64
 11  Caffeine_Intake_Cups       50000 non-null  int64
 12  Weekend_Screen_Time_Hours  50000 non-null  float64
dtypes: float64(4), int64(5), str(4)
memory usage: 5.0 MB

## ðŸ“ˆ Statistical Summary

                             count  mean   std   min   25%   50%   75%   max
Age                       50000.00 39.03 12.41 18.00 28.00 39.00 50.00 60.00
Daily_Phone_Hours         50000.00  6.51  3.17  1.00  3.80  6.50  9.20 12.00
Social_Media_Hours        50000.00  4.27  2.16  0.50  2.40  4.30  6.10  8.00
Work_Productivity_Score   50000.00  5.50  2.87  1.00  3.00  5.50  8.00 10.00
Sleep_Hours               50000.00  6.50  1.45  4.00  5.20  6.50  7.80  9.00
Stress_Level              50000.00  5.50  2.87  1.00  3.00  6.00  8.00 10.00
App_Usage_Count           50000.00 32.44 16.12  5.00 18.00 32.00 46.00 60.00
Caffeine_Intake_Cups      50000.00  3.00  2.00  0.00  1.00  3.00  5.00  6.00
Weekend_Screen_Time_Hours 50000.00  8.01  3.46  2.00  5.00  8.00 11.00 14.00